<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.jmixtesr/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.jmixtesr.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Zayavki.browse" caption="msg://com.company.jmixtesr.screen.zayavki/zayavkiBrowse.menu"/>
        <item screen="Depart.browse" caption="msg://com.company.jmixtesr.entity.depart/departBrowse.menu"/>
    </menu>

</menu-config>